# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
out/

# =========================
# Maven
# =========================
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# =========================
# Gradle
# =========================
.gradle/
build/

# =========================
# Logs & Temp
# =========================
*.log
*.tmp
*.swp
*.pid

# =========================
# OS-specific
# =========================
.DS_Store
Thumbs.db

# =========================
# Docker / Databases
# =========================
# Ignore runtime containers/volumes
data/
volume-data/
*/data/
*.sock

# =========================
# Misc
# =========================
*.class
*.war
*.ear
